@model JsonCMS.Models.JsonFileViewModel



@{
    ViewBag.Title = "Edit";
  
}

<link rel="stylesheet" type="text/css" href="~/Content/jsoneditor/jsoneditor.min.css">

<h2>Edit</h2>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>JsonFile</h4>
        <hr />
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileName)
                @Html.ValidationMessageFor(model => model.FileName)
            </div>
        </div>



        <div class="form-group">
            @*@Html.LabelFor(model => model.JsonString, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JsonString)
                    @Html.ValidationMessageFor(model => model.JsonString)

                </div>*@
            @*@Html.HiddenFor(model => model.JsonString, new { id = "JsonString" })*@
            <input type="hidden" id="JsonString" name="JsonString" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InUse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InUse)
                @Html.ValidationMessageFor(model => model.InUse)
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<head>
    <title>JSONEditor | Basic usage</title>
    <link rel="stylesheet" type="text/css" href="~/Content/jsoneditor/jsoneditor.css">
    @Scripts.Render("~/Content/jsoneditor/jsoneditor.js")
    <style type="text/css">
        #jsoneditor {
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body onload="setJSON()">

    @Scripts.Render("~/Content/jsoneditor/jsoneditor.min.js")
    <div id="jsoneditor" style="width: 500px; height: 500px;"></div>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // create the editor
        var container = document.getElementById("jsoneditor");
        var editor = new JSONEditor(container);
        var model = @Html.Raw(Json.Encode(Model));

        var str = model.JsonString;
        window.onload=setJSON();
        //this function needs to run when page is loaded
        $(document).ready(function () {
            $("#submitform").click(function () {
                getJsonString();
                $("form").submit();
            });

        });



        //$("#JsonString").val(editor.get()) //set value adttribute of hidden html tag
        //document.getElementById("JsonString").value = "test";

        // set json
        function setJSON() {
            var json = jQuery.parseJSON(model.JsonString);
            editor.set(json);
        }


        function getJsonString() {
            var json = editor.get();
            document.getElementById("JsonString").value = JSON.stringify(json);
            alert(JSON.stringify(json, null, 2));
        }
    </script>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="submitform" value="Save" class="btn btn-default" />
        </div>
    </div>
</body>

